/* this is nav-2-area style  */
.nav-2-area {
    background: #0CAA7D;

}

.nav-2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0px auto;
}

.nav-2-menu {
    display: flex;
    gap: 25px;

}

.nav-2-menu a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.nav-2-login {
    display: flex;
    gap: 15px;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.nav-2-login img {
    width: 50%;
    height: 50%;
    border-radius: 4px;
}

/* about design section  */
.about-area {

    margin: 75px 120px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-img img {
    width: 625px;
    height: 500px;
}

.about-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.about-info h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.about-info button {
    width: 182.09px;
    height: 48px;
    background: #FB1004;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 44px;
    border-width: 0px;
}

/* responsive for mobile under 576px screen size */
@media screen and (max-width:576px) {

    .about-area {
        flex-direction: column;
        margin: 25px 8px;
    }

    .about-img img {
        width: 380px;
        height: 320px;

    }

    .nav-2-content{
        display: none;
    }


    /* .nav-2-content{
    width: 100%;
    gap: 1px;   
    }

    .nav-2-menu a{
        font-size: 16px;
    }
    .nav-2-menu{
        gap: 5px;
    }
    .nav-2-login{
        gap: 3px;
    } */
}