.portfolio-container {
    display: flex;
    gap: 20px;
    margin: 50px 10px;
}

.portfolio-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.col-1,
.col-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#port {
    text-align: center;
    margin-top: 150px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}