

.portfolio-container {
    display: flex;
    gap: 20px;
    margin: 50px 10px;
}

.portfolio-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.col-1,
.col-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

#port {
    text-align: center;
    margin-top: 150px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.container {
    position: relative;
    text-align: center;
    color: white;

}

.container img:hover {
    filter: contrast(20%);
    /* filter: blur(4px); */
    background-color: dimgrey;

}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 223.73px;
    height: 39px;
    font-weight: 900;
    font-size: 28px;
    
    font-family: 'poppins';
    color: white;
}


/* responsive for mobile screen under 576px */
@media screen and (max-width:576px) {
    .portfolio-container {
        flex-direction: column;
    }

}